POSTGRES_PASSWORD=postgres
REDIS_PASSWORD=redis
KEYCLOAK_ADMIN_PASSWORD=admin
QDRANT_API_KEY=qdrant
AILMS_PASSWORD=ailms
OIDC_SECRET=ailms-gateway-secret
MINIO_ROOT_USER=ailms
MINIO_ROOT_PASSWORD=minio123
KEYCLOAK_HOSTNAME=https://criticism-boating-dvds-alexander.trycloudflare.com/
